#mw-selector-1663570589621 {
	background-color: #5C4EF7!important;
	padding-top: 25px!important;
	padding-left: 25px!important;
	padding-bottom: 25px!important;
	padding-right: 25px!important;
	border-top-left-radius: 50%!important;
	border-top-right-radius: 50%!important;
	border-bottom-right-radius: 50%!important;
	border-bottom-left-radius: 50%!important;
	color: #ffffff!important;
	font-size: 26px!important;
}
.edit[field="layout-feature-skin-31-layouts-20220919065544"][rel="module"] {
	background-color: transparent!important;
	padding-top: 40px!important;
	padding-bottom: 0px!important;
}
#mw-cl-id-1663570729809 {
	background-color: #1F7CFF!important;
	color: #ffffff!important;
	padding-top: 25px!important;
	padding-left: 25px!important;
	padding-right: 25px!important;
	padding-bottom: 25px!important;
	border-top-left-radius: 50%!important;
	border-top-right-radius: 50%!important;
	border-bottom-left-radius: 50%!important;
	border-bottom-right-radius: 50%!important;
	font-size: 26px!important;
	margin-right: 0px!important;
}
#mw-cl-id-1663570729797 {
	background-color: #F75C4E!important;
	color: #ffffff!important;
	padding-top: 25px!important;
	padding-left: 25px!important;
	padding-right: 25px!important;
	padding-bottom: 25px!important;
	border-top-left-radius: 50%!important;
	border-top-right-radius: 50%!important;
	border-bottom-left-radius: 50%!important;
	border-bottom-right-radius: 50%!important;
	font-size: 26px!important;
}
#mw-cl-id-1663570729803 {
	background-color: #191046!important;
	color: #ffffff!important;
	padding-left: 25px!important;
	padding-top: 25px!important;
	padding-right: 25px!important;
	padding-bottom: 25px!important;
	border-top-left-radius: 50%!important;
	border-top-right-radius: 50%!important;
	border-bottom-left-radius: 50%!important;
	border-bottom-right-radius: 50%!important;
	font-size: 26px!important;
}
#mw-cl-id-1663570729791 {
	color: #ffffff!important;
	background-color: #F7954E!important;
	padding-top: 25px!important;
	padding-left: 25px!important;
	padding-right: 25px!important;
	padding-bottom: 25px!important;
	border-top-left-radius: 50%!important;
	border-top-right-radius: 50%!important;
	border-bottom-left-radius: 50%!important;
	border-bottom-right-radius: 50%!important;
	font-size: 26px!important;
}
#mw-cl-id-1663570729910 {
	background-color: #FF1FB3!important;
	color: #ffffff!important;
	padding-left: 25px!important;
	padding-top: 25px!important;
	padding-right: 25px!important;
	padding-bottom: 25px!important;
	border-top-left-radius: 50%!important;
	border-top-right-radius: 50%!important;
	border-bottom-left-radius: 50%!important;
	border-bottom-right-radius: 50%!important;
	font-size: 26px!important;
}
.edit[field="layout-titles-skin-1-layouts-20220919070903"][rel="module"] {
	padding-bottom: 0px!important;
}
#element_1663571265529 {
	font-size: 36px!important;
}
#mw-selector-1663571324163 {
	font-weight: 700!important;
	font-size: 40px!important;
}
#element_1663571265474 {
	font-size: 18px!important;
}
#element_1663571463835 {
	font-weight: 700!important;
	font-size: 40px!important;
	padding-left: 40px!important;
}
#mw-selector-1663574906860 {
	border-top-left-radius: 40px!important;
	border-top-right-radius: 40px!important;
	border-bottom-left-radius: 40px!important;
	border-bottom-right-radius: 40px!important;
	padding-left: 0px!important;
	margin-left: 30px!important;
}
#element_1663575521112 {
	font-weight: 700!important;
}
#mw-selector-1663575699288 {
	border-top-left-radius: 40px!important;
	border-top-right-radius: 40px!important;
	border-bottom-left-radius: 40px!important;
	border-bottom-right-radius: 40px!important;
	margin-right: 30px!important;
}
#element_1663571463947 {
	padding-left: 40px!important;
}
#layouts-20220919080809-btn {
	padding-left: 40px!important;
}
.edit[field="layout-content-skin-20-layouts-20220919080809"][rel="module"] {
	padding-bottom: 10px!important;
}
#mw-cl-id-1663570729812 {
	margin-right: 30px!important;
}
#mw-cl-id-1663570729800 {
	margin-right: 20px!important;
}
#mw-cl-id-1663570729806 {
	margin-right: 0px!important;
}
