:root {
  --primaryColor: #0044de;
  --links: #0044de;
  --background: #ffffff;
  --secodnary: #6c757d;
  --textDark: #212529;
  --textLight: #212529;
  --section: #ffffff;
  --bodyFontSize: 16px;
  --fontFamily: Milliard, sans-serif;
  --headerBg: #ffffff;
  --footerBg: #ffffff;
  --menuColor: #000000;
  --btnText: #ffffff;
}
